h1 {
    color: rgb(0, 255, 47);
    font-size: 48px;
    text-align: start;
    font-family: 'Times New Roman', Times, Gill Sans, Gill Sans MT, serif;
}

li {
    color: rgb(0, 255, 47);
    font-size: 40px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}

li {
    text-decoration: underline;
}

p {
    color: black;
    font-size: 35px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: wheat;
}